.button {
	background-color: $btn_color;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: $light_text_color;
	cursor: pointer;

	&_consultation {
		margin-top: 65px;
		width: 303px;
		height: 54px;
		line-height: 54px;
		font-size: 16px;
	}

	&_phone {
		margin-top: 4px;
		width: 153px;
		height: 32px;
		font-weight: 500;
		font-size: 12px;
	}
}
