.consultation {
	background-image: url("../img/consultation/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 108px;
	color: $light_text_color;

	&__header {
		font-weight: 700;
		font-size: 36px;
		line-height: 54px;
		text-transform: uppercase;
	}

	&__text {
		margin-top: 8px;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 36px;
	}
}

@media screen and (max-width: 768px) {
	.consultation {
		background-position: 0 0;
		text-align: center;

		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__header {
			font-size: 28px;
			line-height: 38px;
		}
	}
}
