.review {
	background-color: $bg_color;
	color: $dark_text_color;
	padding-bottom: 60px;

	&__header {
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
		text-align: center;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		margin-top: 60px;
	}

	&__card {
		display: flex;
		align-items: flex-start;

		&:nth-child(2) {
			margin: 60px 0;
		}
	}

	&__content {
		text-align: left;
		margin-left: 61px;
	}

	&__reviewer {
		font-weight: 700;
		font-size: 18px;

		span {
			display: block;
			font-weight: 500;
			font-size: 14px;
			color: #646464;
		}
	}

	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		margin-top: 10px;
		max-width: 680px;

		p {
			margin-bottom: 15px;
		}
	}
}

@media screen and (max-width: 768px) {
	.review {
		&__wrapper {
			justify-content: center;
			align-items: center;
		}

		&__card {
			flex-direction: column;
			align-items: center;
		}

		&__content {
			text-align: center;
			margin: 0;
		}

		&__text {
			width: 100%;
			margin-top: 20px;
		}
	}
}
