.slider {
	margin: 0 auto;
	background-color: $bg_color;
	padding: 81px 0;

	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__slides {
		max-width: 750px;
		width: 90%;
		height: 580px;
		overflow: hidden;
		margin: 0 50px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__slides-wrapper {
		display: flex;
		align-items: center;
		position: absolute;
		width: 300%;
		left: 0;
		left: -750px;
		transition: all 0.5s;
	}

	&__slide {
		width: 100%;
		img {
			display: block;
			min-width: 100%;
			max-width: 100%;
		}
	}

	&__prev,
	&__next {
		cursor: pointer;
		height: 100%;
		width: 50px;
		border: none;
		background-color: $bg_color;
		position: relative;
	}

	&__prev:hover {
		left: -5px;
	}

	&__next:hover {
		right: -5px;
	}
}

@media screen and (max-width: 768px) {
	.slider {
		width: 100%;

		&__slides {
			width: 90%;
			height: 400px;
			overflow: hidden;
			margin: 0;
			position: relative;
		}

		&__slide {
			width: 100%;
			img {
				display: block;
				min-width: 100%;
				max-width: 100%;
			}
		}

		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__slides-wrapper {
			width: 300%;
		}

		&__prev,
		&__next {
			cursor: pointer;
			height: 100%;
			width: 10%;
			border: none;
			background-color: $bg_color;
			position: relative;
		}

		&__prev:hover {
			left: -5px;
		}

		&__next:hover {
			right: -5px;
		}
	}
}
