@import "./base/fonts";
@import "./base/var";

body {
	font-family: "MuseoModerno", sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 950px;
	width: 85%;
	margin: 0 auto;
}

@import "./components/buttons";
@import "./components/forms";

@import "./components/header";
@import "./components/first_screen";
@import "./components/adventages";
@import "./components/consultation";
@import "./components/slider";
@import "./components/catalog";
@import "./components/review";
@import "./components/contacts";

@import "./components/modals";
@import "./components/up";
